
body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.sidebar {
    background: #fafafa;
    border-right: 1px solid #ccc;
}

.no-item {
    background: #e2e2e2;
    color: #a8a8a8;
    justify-content: center;
    align-content: center;
    align-items: center;
}
